<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Menu</li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main">
                    <i class="icon-speedometer"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="page.pemasukan">
                    <i class="icon-speedometer"></i>
                    Pemasukan
                </a>
            </li>
            <li class="nav-title" ng-if="user.m_roles_id != 4">Pengaturan</li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('pengguna')}" ng-if="user.akses.pengguna_akses || user.akses.pengguna_user || user.akses.pengguna_barang">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('pengguna')}" href="#">
                    <i class="fa fa-user-o"></i>
                    User Login
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.pengguna_akses">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.akses">
                            <i class="icon-cursor"></i>
                            Hak Akses
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.pengguna_user">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.user">
                            <i class="icon-cursor"></i>
                            Pengguna
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('master')}" ng-if="user.akses.master_barang || user.akses.master_satuan || user.akses.master_kategori || user.akses.master_suplier || user.akses.master_costomer">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('master')}" href="#">
                    <i class="fa fa-user-o"></i>
                    Master
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.master_barang">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.barang">
                            <i class="icon-cursor"></i>
                            Barang
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_satuan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.satuan">
                            <i class="icon-cursor"></i>
                            Satuan
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_kategori">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.kategori">
                            <i class="icon-cursor"></i>
                            Kategori
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_suplier">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.suplier">
                            <i class="icon-cursor"></i>
                            Suplier
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_costomer">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.costomer">
                            <i class="icon-cursor"></i>
                            Customer
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('transaksi')}" ng-if="user.akses.transaksi_pembelian || user.akses.transaksi_penjualan ">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('transaksi')}" href="#">
                    <i class="fa fa-user-o"></i>
                    Transaksi
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.transaksi_pembelian">
                        <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.pembelian">
                            <i class="icon-cursor"></i>
                            Pembelian
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.transaksi_penjualan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.penjualan">
                            <i class="icon-cursor"></i>
                            Penjualan
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('laporan')}" ng-if="user.akses.laporan_pembelian || user.akses.laporan_penjualan ">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('laporan')}" href="#">
                    <i class="fa fa-user-o"></i>
                    Laporan
                </a>
                 <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.laporan_pembelian">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.pembelian">
                            <i class="icon-cursor"></i>
                            Laporan Pembelian
                        </a>
                        </li>
                    <li class="nav-item" ng-if="user.akses.laporan_penjualan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.penjualan">
                            <i class="icon-cursor"></i>
                            Rekap Penjualan
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_rekap">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.rekap">
                            <i class="icon-cursor"></i>
                            Rekap Pembelian
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('laporan')}" ng-if="user.akses.tahunan_penjualan || user.akses.tahunan_pembelian ">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('rekap')}" href="#">
                    <i class="fa fa-user-o"></i>
                    Rekap Tahunan
                </a>
                 <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.tahunan_penjualan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="rekap.tahunan_penjualan">
                            <i class="icon-cursor"></i>
                            Rekap Tahunan Penjualan
                        </a>
                    </li>
                    <!-- <li class="nav-item" ng-if="user.akses.tahunan_pembelian">
                        <a class="nav-link" ui-sref-active="active" ui-sref="rekap.tahunan_pembelian">
                            <i class="icon-cursor"></i>
                            Rekap Tahunan Pembelian
                        </a>
                    </li> -->
                </ul>
            </li>
        </ul>
    </nav>
</div>
