<div class="animated fadeIn">
    <div ng-controller="LPembelianCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Laporan Pembelian</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Barang</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan barang"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Suplier</label>
                                        <div class="col-sm-2">
                                            <input st-search="suplier" class="form-control form-control-sm" placeholder="Cari berdasarkan suplier"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>

                            <th class="align-left">Tanggal</th>
                             <th class="align-left">Invoice</th>
                             <th class="align-left">Suplier</th>
                             <th class="align-left">Barang</th>
                             <th class="align-left">Jumlah</th>
                             <th class="align-left">Harga Satuan</th>
                              <th class="align-left">Total Pembelian</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed">

                            <td class="align-left">{{ row.tanggal }}</td>
                            <td class="align-left">{{ row.invoice }}</td>
                            <td class="align-left">{{ row.suplier }}</td>
                            <td class="align-left">{{ row.barang }}</td>
                            <td class="align-left">{{ row.jumlah }}</td>
                            <td class="align-left">{{ row.harga | number }}</td>
                            <td class="align-left" >{{ row.sub_total | number }}</td>
                        </tr>
                       <tr >
                            <td colspan="6" class="align-left">
                                Total
                            </td> 
                            <td>
                                <b>
                                    {{data.totalPembelian| number}}
                                </b>
                            </td> 
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
    </div>
</div>
