<div class="animated fadeIn">
    <div ng-controller="aksesCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Hak Akses</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Tambahkan Hak Akses Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0px">
                                        <label for="nama" class="col-sm-1 col-form-label-sm mb-0px">Nama</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" st-search="nama" id="nama" placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0px">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td>{{ row.nama }}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-light">
                                <div class="form-group row mb-0px">
                                    <label for="nama" class="col-sm-2 col-form-label-sm mb-0px">Nama Hak Akses</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.nama" id="nama"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks">Data Master</label>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.pengguna_akses" type="checkbox"/>
                                            <i></i>
                                            Hak Akses
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.pengguna_user" type="checkbox"/>
                                            <i></i>
                                            Pengguna
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_barang" type="checkbox"/>
                                            <i></i>
                                            Barang
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_satuan" type="checkbox"/>
                                            <i></i>
                                            Satuan
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_kategori" type="checkbox"/>
                                            <i></i>
                                            Kategori
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_suplier" type="checkbox"/>
                                            <i></i>
                                            Suplier
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_costomer" type="checkbox"/>
                                            <i></i>
                                            Customer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks">Transaksi</label>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.transaksi_pembelian" type="checkbox"/>
                                            <i></i>
                                            Pembelian
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.transaksi_penjualan" type="checkbox"/>
                                            <i></i>
                                            Penjualan
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks">Laporan</label>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_pembelian" type="checkbox"/>
                                            <i></i>
                                            Laporan Pembelian
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_penjualan" type="checkbox"/>
                                            <i></i>
                                            Rekap Penjualan
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_rekap" type="checkbox"/>
                                            <i></i>
                                            Rekap Pembelian
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks">Rekap Tahunan</label>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.tahunan_pembelian" type="checkbox"/>
                                            <i></i>
                                            Rekap Tahunan Pembelian
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.tahunan_penjualan" type="checkbox"/>
                                            <i></i>
                                            Rekap Tahunan Penjualan
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
