<div class="modal-header">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal-title">
        <h4>
          Master Tambah Data Barang
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Nama</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" ng-model="form.nama" ng-disabled="is_view" required/>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Satuan</label>
        <div class="col-sm-9">
          <select class="form-control form-control-sm" id="satuan" ng-disabled="is_view" ng-model="form.m_satuan_id">
            <option value="">-Pilih Satuan-</option>
            <option ng-repeat="kat in listSatuan" value="{{ kat.id }}">{{ kat.nama }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Kategori</label>
        <div class="col-sm-9">
          <select class="form-control form-control-sm" id="kategori" ng-disabled="is_view" ng-model="form.m_kategori_id">
            <option value="">-Pilih Kategori-</option>
            <option ng-repeat="kat in listKategori" value="{{ kat.id }}">{{ kat.nama }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label-sm required">Stock</label>
        <div class="col-sm-11">
          <input type="text" class="form-control form-control-sm" ng-model="form.stock" ng-disabled="is_view" required/>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label-sm required">Suplier</label>
        <div class="col-sm-11">
          <select class="form-control form-control-sm" id="suplier" ng-disabled="is_view" ng-model="form.m_suplier_id">
            <option value="">-Pilih Suplier-</option>
            <option ng-repeat="kat in listSuplier" value="{{ kat.id }}">{{ kat.nama }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="close()">
    <i class="glyphicon glyphicon-remove">
    </i>
    Batal
  </button>
  <button autosave="" class="btn btn-primary" ng-click="saveBrg(form)">
    <i class="glyphicon glyphicon-floppy-save">
    </i>
    Simpan
  </button>
</div>
