<div class="animated fadeIn" xmlns="http://www.w3.org/1999/html">
    <div ng-controller="RPembelianCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">History Pembelian</strong>

            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Bulan Pelaporan</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           datepicker-mode="'month'" datepicker-options="{minMode: 'month'}"
                                           is-open="opened.tanggal" ng-click="toggle($event, 'tanggal')"
                                           ng-model="form.tanggal" placeholder="Bulan pembelian" type="text"
                                           uib-datepicker-popup="MMMM yyyy"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div align="center">
                    <div class="btn-group mt-5px" role="group">
                        <button class="btn btn-primary btn-sm" ng-click="pivot(form);">
                            <i class="fa fa-eye"></i>
                            Tampilkan
                        </button>
                        <button ng-if="is_Excel" type="submit" class="btn btn-secondary btn-sm" ng-hide="is_view"
                                button-spinner="loading" ng-disabled="loading" ng-click="clear();">
                            <i class="fa fa-trash-o"></i>
                            Bersihkan Filter
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="print-area1">

            <div class="card" ng-if="is_laporan">
                <div class="card-header">
                    <strong>
                        pembelian
                    </strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th class="align-left" rowspan="2">No.</th>
                                <th class="align-left" rowspan="2">Nama Barang</th>
                                <th class="align-center" colspan="{{ colspan  }}">
                                  Laporan Penjulan Bulan {{ listTanggal[0] | date:'MMMM' }}
                                </th>
                                <th class="align-left" rowspan="2">Total</th>
                            </tr>
                            <tr>
                                <td ng-repeat="val in listTanggal">{{ val | date:'dd' }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, row) in data">
                                <td class="align-left">{{ $index+1 }}.</td>
                                <td class="align-left">{{ row.nama }}</td>
                                <td ng-repeat="(tgl, total) in row.tanggal"> {{total}} </td>
                                <td class="align-left"> {{ totalPerbarang[key] }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
