<div class="animated fadeIn">
    <div ng-controller="penjualanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Transaksi Penjualan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">

                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>

                            <th class="align-left">Tanggal</th>
                             <th class="align-left">Invoice</th>
                             <th class="align-left">Suplier</th>
                              <th class="align-left">Total Pembelian</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">

                            <td class="align-left">{{row.tanggal| date:'dd MMMM yyyy'}}</td>
                            <td class="align-left">{{ row.invoice }}</td>
                            <td class="align-left">{{ row.suplier }}</td>
                            <td class="align-left">{{ row.total }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-refresh"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           datepicker-mode="'day'" ng-model="form.tanggal"
                                           is-open="opened.tanggal" ng-click="toggle($event, 'tanggal')"
                                           placeholder="Pilih Tanggal" type="text" uib-datepicker-popup="dd MMMM yyyy" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Invoice</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.invoice"
                                           maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Suplier</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" id="suplier" ng-disabled="is_view" ng-model="form.m_suplier_id">
                                        <option value="">-Pilih Suplier-</option>
                                        <option ng-repeat="kat in listSuplier" value="{{ kat.id }}">{{ kat.nama }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-sm-2 col-form-label-sm">Detail</label>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="align-center" style="width: 10px;">
                                                <button type="button" class="btn btn-success fa fa-plus" ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                            </th>
                                            <th class="align-left">Nama</th>
                                            <th class="align-left">Jumlah</th>
                                            <th class="align-left">Harga</th>
                                            <th class="align-left">Sub Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="detail in listDetail">
                                            <td class="align-center">
                                                <button type="button" class="btn btn-danger fa fa-minus"
                                                        ng-click="removeDetail(listDetail, $index)"
                                                        ng-disabled="is_view"></button>
                                            </td>
                                            <td class="align-left">
                                                <ui-select ng-disabled="is_view" ng-model="detail.m_barang_id" on-select="" theme="bootstrap">
                                                            <ui-select-match placeholder="Cari Produk">
                                                                {{$select.selected.nama}}
                                                                 {{$select.selected.satuan}}
                                                            </ui-select-match>
                                                            <ui-select-choices refresh="cariProduk($select.search,$index,$select)" repeat="vals in listBarang" value="{{ vals.id }}">
                                                                {{vals.nama}}
                                                                {{vals.satuan}}
                                                            </ui-select-choices>
                                                        </ui-select>
                                            </td>
                                            <td class="align-left">
                                                <input type="text" class="form-control form-control-sm" maxlength="255"
                                                       ng-model="detail.jumlah"  ng-disabled="is_view" ng-change="hitungTotal()"/>
                                            </td>
                                            <td class="align-left">
                                                <input type="text" class="form-control form-control-sm" maxlength="255"
                                                       ng-model="detail.harga" ng-disabled="is_view" ng-change="hitungTotal()"/>
                                            </td>
                                            <td class="align-left">
                                                <input type="text" class="form-control form-control-sm" maxlength="255"
                                                       ng-model="detail.sub_total" ng-disabled="1"/>
                                            </td>
                                        </tr>
                                        <tr>
                                           <td colspan="4">
                                               Total Penjualan
                                           </td> 
                                           <td>
                                               <input type="text" name="" ng-model="form.total" ng-disabled="1">
                                           </td> 
                                        </tr>
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
